@import url('https://fonts.googleapis.com/css2?family=Asset&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Asset&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Asset&family=Great+Vibes&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  font-size: calc(5px + 0.4vw);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Arsenal SC", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  list-style: none;
}

ul li {
  text-decoration: none;
  list-style: none;
}

body.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: var(--scroll-top);
}

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#loader-image {
  animation: pulse 2s infinite ease-in-out;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

#modal {
  font-size: 2rem;
  font-family: "Arsenal SC", serif;
  font-weight: 400;
  font-style: normal;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
  width: 760px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

#overlay.show {
  opacity: 1;
  visibility: visible;
}

#modal.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
}

.colorBox {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.colorBox label {
  padding-right: 1rem;
}

.pickr {
  width: 100%;
}

.pickr .pcr-button {
  height: 1rem;
  width: 100%;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
}

.popup-overlay {
  font-family: "Arsenal SC", serif;
  font-weight: 400;
  font-style: normal;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 450px;
  position: relative;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.popup input,
.popup textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  background: transparent;
  padding-top: 1rem;
  padding-left: 0;
}

.popup textarea {
  resize: none;
  height: 60px;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.popup button {
  width: 100%;
  background: black;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  /* border-radius: 5px; */
  margin-top: 1rem;
}

#size {
  padding-top: 2rem;
}

.custom-select {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  background: transparent;
  cursor: pointer;
}

.select-trigger {
  display: block;
  padding: 5px 0;
}

.select-trigger::after {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  right: 10px;
  margin-top: -3px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  transform: rotate(45deg) translateY(-50%);
  transition: all .3s ease-in-out;
  transform-origin: 50% 0;
}

.custom-select.open .select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}

.select-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 100;
}

.select-dropdown label {
  display: block;
  cursor: pointer;
  padding: 1rem 0;
  border-bottom: 1px solid #00000033;
}

.select-dropdown label:last-child {
  border-bottom: 0px
}

.custom-select.open .select-dropdown {
  display: block;
}

.file-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 40px; */
  height: 50px;
  /* border-radius: 50%; */
  border: 2px dashed #000;
  cursor: pointer;
  margin: 1rem auto;
}

.file-upload input {
  display: none;
}

.file-upload span {
  font-size: 24px;
  color: black;
}



.container {
  max-width: 1380px;
  padding: 0 10px;
  margin: 0 auto;
}

.section-page {
  height: 100vh;
  padding: 0 auto;
  text-align: center;
  align-items: center;
  margin: 50px 0;
}

.menu {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu li {
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
}

.menu li a {
  color: #000;
}

.for_border {
  border-left: 1px solid #000;
  /* border-right: 1px solid #000; */
}

.intro {
  position: relative;
  width: 100%;
  height: 100vh;
}

.left {
  float: left;
  height: 100%;
  width: 60%;
  padding: 3rem 3rem 3rem 5rem;
  display: table;
}

.inner_left {
  display: table-cell;
  vertical-align: middle;
}

.title {
  position: relative;
  left: 0;
  right: 0;
  top: -5rem;
  font-family: "Asset", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  text-align: center;
}

.subtitle {
  position: relative;
  left: 0;
  right: 0;
  top: -5rem;
  margin: 0 auto;
  color: #7C7C7C;
  font-size: 2.3rem;
  margin-bottom: 4rem;
  width: 80%;
  text-align: center;
}

.bottom_text {
  position: absolute;
  bottom: 16rem;
  font-size: 1.6rem;
  color: #000;
  display: flex;
  flex-flow: row;
  align-items: flex-end;
}

.bottom_text_item_1 {
  font-size: 3rem;
  margin-right: 1rem;
}

.bottom_text_item_2 {
  font-size: 2.3rem;
  padding-bottom: 0.3rem;
}

.bottom_about {
  font-family: "Great Vibes", serif;
  font-weight: 400;
  font-style: normal;
  left: 40rem;
  width: 45rem;
  position: absolute;
  bottom: 12rem;
  font-size: 2.3rem;
  color: #000;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  line-height: 2.3rem;
}

.bottom_about_text {
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transform: translateY(10px);
  opacity: 0;
}

.bottom_about_text.show {
  opacity: 1;
  transform: translateY(0);
}

.connect {
  position: absolute;
  top: 2rem;
  font-size: 1.6rem;
  color: #000;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.connect a {
  font-size: 2.6rem;
  line-height: 3rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.icons {
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.slider {
  /* float: right; 
  position: relative; */
  position: absolute;
  right: 0;
  width: 40%;
  height: 100%;
}

.slider li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: clip .7s ease-in-out, z-index 0s .7s;
  clip: rect(0, 100vw, 100vh, 100vw);
  display: table;
}

.center-y {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

li.current {
  z-index: 1;
  clip: rect(0, 100vw, 100vh, 0);
}

li.prev {
  clip: rect(0, 0, 100vh, 0);
}

.slider nav {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

nav a {
  display: inline-block;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  min-width: 12px;
  min-height: 12px;
  background: #fff;
  margin: 0 1rem;
  transition: transform .3s;
}

a.current_dot {
  transform: scale(1.4);
}

.background_services_right {
  position: absolute;
  right: 0;
  z-index: -1;
  bottom: -20rem;
  height: 10rem;
  width: 30rem;
  background-color: #4D220E;
  /* opacity: 50%; */
}

.background_services_left {
  position: absolute;
  left: 0;
  z-index: -2;
  top: 85rem;
  height: 30rem;
  width: 30rem;
  background-color: #4D220E;
  opacity: 0.5;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.furniture {
  padding-right: 35px;
}

.services_title {
  font-family: "Arsenal SC", serif;
  font-weight: 700;
  font-size: 2.6rem;
  text-align: left;
}

.services_subtitle {
  font-family: "Arsenal SC", serif;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: left;
  padding-bottom: 35px;
}

/* .spaces {
  width: 100%;
} */

.furniture {
  margin-left: 35px;
}

.request {
  display: inline-block;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  position: relative;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 1rem;
  top: -10rem;
  right: -30rem;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

.request:hover {
  transform: scale(1.05);
}

.content_approach {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.whatis_approach {
  font-family: "Arsenal SC", serif;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: right;
  padding-right: 50px;
  padding-top: 5rem;
  color: #fff;
}

.approach_list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10rem;
  margin-bottom: 20rem;
  padding-right: 50px;
}

.approach_list li {
  border: 1px solid #000;
  padding: 25px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.title_approach {
  font-size: 1.8rem;
  font-weight: 700;
}

.subtitle_approach {
  font-size: 1.8rem;
}

.request_sec {
  display: block;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 20rem;
  margin-right: 20rem;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

.request_sec:hover {
  transform: scale(1.05);
}

.sec {
  top: 153rem;
  width: 63rem;
  height: 20rem;
  opacity: 50%;
  z-index: -1;
}

.sec_r {
  bottom: -110rem;
  width: 63rem;
  height: 15rem;
  opacity: 100%;
}

.content_tech {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.whatis_tech {
  font-family: "Arsenal SC", serif;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: right;
  padding-right: 100px;
  padding-top: 5rem;
}

.tech_list {
  font-size: 2.3rem;
  margin-top: 10rem;
  margin-bottom: 12rem;
  padding-right: 50px;
  text-align: right;
  padding-right: 15rem;
  color: #fff;
  text-align: left;
}

.title_tech {
  padding-bottom: 2.5rem;
}

.sec_1 {
  top: 300rem;
  width: 63rem;
  height: 20rem;
}

.sec_r_1 {
  bottom: -225rem;
  width: 63rem;
  height: 15rem;
}

.request_sec_1 {
  display: block;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  margin-top: 18rem;
  margin-right: 20rem;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

.request_sec_1:hover {
  transform: scale(1.05);
}

.end {
  height: auto;
}

.for_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
}

.sign {
  width: 30%;
  height: 30%;
}

.photo {
  width: 30%;
  height: auto;
}

.auth_text {
  padding-left: 5rem;
  padding-right: 5rem;
  font-family: "Great Vibes", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.6rem;
}

.end_list {
  text-align: left;
}

.sec_r_next_page {
  bottom: -20rem;
}

.sec_next_page {
  top: 96rem;
  width: 60rem;

}

.whatis_approach {
  color: #000;
}

.img_approach_secpage {
  display: flex;
  flex-direction: row;
}

.sec_1_next_page {
  top: 85rem;
  opacity: .5;
}

.sec_1_r_next_page {
  bottom: -40rem;
  opacity: 1;
}

.reviews {
  height: 100%;
  padding: 100px 0;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.reviews__title {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 70px;
}

.slick-dots {
  list-style: none;
  text-align: center;
}

.slick-dots button {
  font-size: 0;
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;
  padding: 0;
  margin: 0 auto;
}

.slick-active button {
  width: 16px;
  height: 16px;
}

.slick-initialized .reviews__item {
  display: flex;
}

.reviews__item {
  border: 1px solid #000000;
  padding: 45px 30px;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-evenly;
  width: 270px;
  min-height: 300px;
  text-align: center;
  margin-right: 30px;
}

.reviews__item-name {
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 3rem;
}

.reviews__slider .slick-dots button {
  background-color: #000000;
}

.reviews__slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.reviews__slider button {
  margin: 0 5px;
  line-height: 12px;
}

.faq {
  height: 100%;
  padding-bottom: 10rem;
}

.questions {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 -15px; */
  padding-top: 10rem;
}

.questions__item {
  width: 100%;
  padding: 0 15px;
}

.questions__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.accordion__item {
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 50px;
}

.accordion__content {
  padding: 0px;
  font-size: 15px;
  color: #999;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.accordion__item.active .accordion__content {
  padding: 15px 20px;
  max-height: 200px;
  opacity: 1;
}

.accordion__item.active .accordion__header:after {
  display: none;
}

.accordion__item.active .accordion__header::before {
  top: 100%
}


.accordion__header {
  padding: 15px 20px 15px 65px;
  position: relative;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.accordion__header:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  /* border-top: 2px solid #cccccc; */
  border-right: 2px solid #cccccc;
  position: absolute;
  top: 33%;
  right: 20px;
  z-index: 1;
  transform: translateX(-40%);
}

.accordion__header::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  border-top: 2px solid #cccccc;
  /* border-right: 2px solid #cccccc; */

  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;
}

.accordion__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 1;

  transform: translateY(-50%);
}

.accordion__content p {
  position: relative;
  left: 1.3rem;
}

.accordion__title {
  font-size: 14px;
  /* color: #333; */
  text-transform: uppercase;
}

.approach_spaces {
  display: flex;
  flex-direction: row;
}

.content_approach_spaces {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.img_approach_secpage_spaces {
  max-width: 150px;
  padding-bottom: 1rem;
}

.dots {
  position: relative;
  /* margin-top: 9rem; */
  text-decoration: none;
  padding: 3rem;
  border: 1px solid #000;
  border-radius: 50%;
  top: 5rem;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu_spaces {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* max-width: 1380px; */
  margin: 2rem 15rem;
  align-items: center;
}

.services_img {
  transition: all 0.3s ease-in-out;
}

.hover_overlay_text {
  position: relative;
  top: 10rem;
  left: -23rem;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  letter-spacing: 0.5rem;

}

.services_img:hover {
  filter: brightness(50%);
  /* scale: 1.02; */
}

.services_img:hover+.hover_overlay_text {
  opacity: 1;
  /* z-index: -1; */
}

.hover_overlay_text:hover {
  opacity: 1;
}

.hover_overlay_text:hover+.services_img {
  filter: brightness(50%);
  /* scale: 1.02; */
}

.slider-overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.slider1 {
  position: relative;
  width: 60%;
  background: white;
  padding: 20px;
  text-align: center;
}

.slider1 img {
  max-width: 100%;
}

.close-btn1 {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: white;
  z-index: 10;
}

.dots {
  cursor: pointer;
}

.slider-overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.slider2 {
  position: relative;
  width: 60%;
  background: white;
  padding: 20px;
  text-align: center;
}

.slider2 img {
  max-width: 100%;
}

.close-btn2 {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: white;
  z-index: 10;
}

.slider-overlay3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.slider3 {
  position: relative;
  width: 60%;
  background: white;
  padding: 20px;
  text-align: center;
}

.slider3 img {
  max-width: 100%;
}

.close-btn3 {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: white;
  z-index: 10;
}

.slider-overlay4 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.slider4 {
  position: relative;
  width: 60%;
  background: white;
  padding: 20px;
  text-align: center;
}

.slider4 img {
  max-width: 100%;
}

.slider-overlay5 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.slider5 {
  position: relative;
  width: 60%;
  background: white;
  padding: 20px;
  text-align: center;
}

.slider5 img {
  max-width: 100%;
}

.slider-overlay6 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.slider6 {
  position: relative;
  width: 60%;
  background: white;
  padding: 20px;
  text-align: center;
}

.slider6 img {
  max-width: 100%;
}

.slider-overlay7 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.slider7 {
  position: relative;
  width: 60%;
  background: white;
  padding: 20px;
  text-align: center;
}

.slider7 img {
  max-width: 100%;
}

.slider-overlay8 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.slider8 {
  position: relative;
  width: 60%;
  background: white;
  padding: 20px;
  text-align: center;
}

.slider8 img {
  max-width: 100%;
}

.slider-overlay9 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.slider9 {
  position: relative;
  width: 60%;
  background: white;
  padding: 20px;
  text-align: center;
}

.slider9 img {
  max-width: 100%;
}

.slider-overlay10 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.slider10 {
  position: relative;
  width: 60%;
  background: white;
  padding: 20px;
  text-align: center;
}

.slider10 img {
  max-width: 100%;
}

.slider-overlay11 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.slider11 {
  position: relative;
  width: 60%;
  background: white;
  padding: 20px;
  text-align: center;
}

.slider11 img {
  max-width: 100%;
}

.slider-overlay12 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.slider12 {
  position: relative;
  width: 60%;
  background: white;
  padding: 20px;
  text-align: center;
}

.slider12 img {
  max-width: 100%;
}

.close-btn4 {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: white;
  z-index: 10;
}

.content-section {
  height: 100%;
  display: none;
  opacity: 0;
  transition: all .3 ease-in-out;
}

.content-section.active {
  display: block;
  opacity: 1;
}

.linkSecSection.active {
  background: #000;
  padding: 1rem;
}

.linkSecSectionA.active {
  color: #fff;
}

@media screen and (max-width: 700px) {
  .left {
    width: 100%;
    height: 30%;
  }

  .slider {
    width: 100%;
    height: 70%;
  }
}